/*  your css code here. If applicable */
h1{
	text-align:center;
	font-family:'Courier New', Courier, monospace;
	font-style:"italic";
	font-weight:900;
}
#firstPage{
	text-align:center;	
}
.player{
	margin:10px;
}
.message{
	text-align:center;
	font-size:12px;
}
#game-container{
	display:grid;
	width:80%;
	margin:20px auto;
	border:1px solid black;
}
.grid_item{
	display: flex;
    justify-content: center;
    align-items: center;
	background-color: #ffc0cb;
    border: 1px solid black;
}